@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

/* common */
.inner {
  width: 100%;
  margin: auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}

/* header */
#header {
  width: 230px;
  height: 100vh;
  display: block;
  position: absolute;
  z-index: 100;
  background: #E583AC;
}
#header .inner {
  padding-top: 100px;
}
#header .header_logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}
#header .nav_toggle_sp {
  display: none;
}
ul#page_menu {
  display: block;
  position: absolute;
  z-index: 101;
  left: 48px;
  bottom: 100px;
  list-style: none;
}
ul#page_menu li {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 24px;
  line-height: 44px;
  color: #FFFFFF;
}
ul#sns_links_sp {
  display: none;
}
/* sns_links for pc */
.sns_pc {
  display: block;
  position: absolute;
  z-index: 101;
  right: 0;
  bottom: 0;
}

/* main */
.main {
  width: 100%;
}
#main .inner {
  width: calc(100% - 230px);
  padding-left: 230px;
}
/* top */
#top {
  width: 100%;
  height: 100vh;
}
.top_slider {
  width: 100%;
  height: auto;
}
.top_slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}