@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

/* common */
.inner {
  width: 100%;
  margin: auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}
body {
  overflow: hidden; /* before click title logo */
  background: #FFFFFF;
}
@media screen and (max-width: 768px) {
  body {
    overflow: visible;
  }
}
.scroll_on  {
  overflow: visible; /* after click title logo */
}

/* header */
#header {
  display: block;
  width: 230px;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background: #E583AC;
}
#header .inner {
  padding-top: 100px;
}
#header .header_logo {
  display: block;
  width: 200px;
  border-radius: 50%;
  background: #FFFFFF;
  margin: 0 auto;
}
#header .nav_toggle_sp {
  display: none;
}
ul#page_menu {
  display: block;
  position: absolute;
  z-index: 101;
  left: 48px;
  bottom: 100px;
  list-style: none;
}
ul#page_menu li a {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 24px;
  line-height: 44px;
  color: #FFFFFF;
  text-decoration: none;
}
ul#sns_links_sp {
  display: none;
}
#header #global_nav .nav_wave {
  display: none;
}
@media screen and (max-width: 768px) {
  #header {
    width: 100%;
    height: 80px;
    position: fixed;
  }
  #header .inner {
    padding-top: 0;
  }
  #header .header_logo {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 102;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px solid #FFFFFF;
  }
  #header .nav_toggle_sp {
    display: block;
    width: 30px;
    height: 34px;
    position: absolute;
    z-index: 1000;
    top: 23px;
    right: 60px;
    cursor: pointer;
  }
  #header .nav_toggle_sp span {
    display: block;
    width: 30px;
    height: 2px;
    background: #FFFFFF;
    position: absolute;
    border-radius: 5px;

    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
  }
  #header .nav_toggle_sp span:nth-child(1) {
    top: 0;
  }
  #header .nav_toggle_sp span:nth-child(2) {
    top: 14px;
    opacity: 1;
  }
  #header .nav_toggle_sp span:nth-child(3) {
    top: 28px;
  }
  #global_nav {
    display: block;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 400px);
    background: #E583AC;
    top: -1000px;

    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
  }
  #header #global_nav .nav_wave {
    display: block;
    width: 100%;
    height: 180px;
    background: #E583AC;
    position: absolute;
    z-index: 10;
    bottom: -180px;

    mask-image: url(../img/svg/wave.svg);
    -webkit-mask-image: url(../img/svg/wave.svg);
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }
  ul#page_menu {
    display: block;
    width: calc(100% - 60px);
    max-width: 500px;
    height: auto;
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 11;
    text-align: center;
  }
  ul#page_menu li {
    border-bottom: 4px solid #FFFFFF;
    margin-bottom: 18px;
  }
  ul#page_menu li:last-child {
    border-bottom: 4px solid #FFFFFF;
    margin-bottom: 0;
  }
  ul#page_menu li a {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 24px;
    line-height: 44px;
    color: #FFFFFF;
    text-decoration: none;
  }
  ul#sns_links_sp {
    display: block;
    height: 50px;
    width: 100%;
    position: absolute;
    z-index: 11;
    top: calc(100vh - 600px);
    text-align: center;
  }
  ul#sns_links_sp li {
    display: inline-block;
  }
  ul#sns_links_sp li a {
    display: block;
    width: 46px;
    height: 38px;
    padding-top: 8px;
    text-align: center;
  
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    font-size: 30px;
    line-height: 30px;
  
    margin-left: 30px;
  }
  ul#sns_links_sp li:nth-child(1) a { /* LINE link button color */
    background: #6AFC64;
  }
  ul#sns_links_sp li:nth-child(2) a { /* Facebook link button color */
    background: #62A7F7;
  }
  ul#sns_links_sp li:nth-child(3) a { /* instagram link button color */
    background: -moz-linear-gradient(-45deg,#F7EB62,#F485BC,#6A407D); 
    background: -webkit-linear-gradient(-45deg,#F7EB62,#F485BC,#6A407D); 
    background: linear-gradient(135deg,#F7EB62,#F485BC,#6A407D); 
  }
  ul#sns_links_sp li:nth-child(4) a { /* Twitter link button color */
    background: #7FE2FA;
  }
}
/* header open for sp */
#header.open_nav .nav_toggle_sp span:nth-child(1) {
  top: 14px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
#header.open_nav .nav_toggle_sp span:nth-child(2) {
  width: 0;
  left: 0;
  opacity: 0;
}
#header.open_nav .nav_toggle_sp span:nth-child(3) {
  top: 14px;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
#header.open_nav #global_nav {
  display: block;
  top: 80px;
  z-index: 10;
}

/* sns_links for pc */
.sns_pc {
  display: block;
  position: fixed;
  z-index: 101;
  right: 0;
  bottom: 0;
}
.sns_pc #sns_pc_button {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #DD415B;
  border: 3px solid #FFFFFF;
  position: fixed;
  z-index: 102;
  right: 60px;
  bottom: 60px;
  cursor: pointer;
}
.sns_pc #sns_pc_button span {
  display: block;
  width: 30px;
  height: 6px;
  border-radius: 5px;
  background: #FFFFFF;
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 15px);
}
.sns_pc #sns_pc_button span:nth-child(2) {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);

  transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  -webkit-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  -ms-transition: all 1s ease-in-out 0s;
}
.sns_pc ul#sns_links_pc {
  visibility: hidden;
  display: block;
  width: 50px;
  height: auto;
  position: absolute;
  right: 85px;
  bottom: -100px;
  list-style: none;
  opacity: 0;

  transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  -webkit-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  -ms-transition: all 1s ease-in-out 0s;
}
.sns_pc ul#sns_links_pc li a {
  display: block;
  width: 46px;
  height: 38px;
  padding-top: 8px;
  text-align: center;

  text-decoration: none;
  color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  font-size: 30px;
  line-height: 30px;

  margin-bottom: 30px;
}
.sns_pc ul#sns_links_pc li:nth-child(1) a { /* LINE link button color */
  background: #6AFC64;
}
.sns_pc ul#sns_links_pc li:nth-child(2) a { /* Facebook link button color */
  background: #62A7F7;
}
.sns_pc ul#sns_links_pc li:nth-child(3) a { /* instagram link button color */
  background: -moz-linear-gradient(-45deg,#F7EB62,#F485BC,#6A407D); 
  background: -webkit-linear-gradient(-45deg,#F7EB62,#F485BC,#6A407D); 
  background: linear-gradient(135deg,#F7EB62,#F485BC,#6A407D); 
}
.sns_pc ul#sns_links_pc li:nth-child(4) a { /* Twitter link button color */
  background: #7FE2FA;
}
/* sns_links for pc (opened) */
.sns_pc.open_sns_pc #sns_pc_button span:nth-child(2) {
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}
.sns_pc.open_sns_pc ul#sns_links_pc {
  visibility: visible;
  bottom: 220px;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .sns_pc {
    display: none;
  }
}

/* title wave for pc */
.title_wave_pc {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1000;
  top: 0;
  transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  -webkit-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  -ms-transition: all 1s ease-in-out 0s;
}
.title_wave_pc .title_top {
  display: block;
  width: 100%;
  height: 100vh;
  background: #83D6E5;
  position: absolute;
  z-index: 1001;
}
.title_wave_pc .title_wave {
  display: block;
  width: 100%;
  height: 300px;
  background: #83D6E5;
  position: absolute;
  z-index: 1002;
  top: 100vh;
  mask-image: url(../img/svg/wave.svg);
  -webkit-mask-image: url(../img/svg/wave.svg);
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
img#title_wave_logo {
  display: block;
  position: absolute;
  z-index: 1003;
  width: 300px;
  height: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}
.title_open {
  top: calc((100vh + 300px)* (-1)); /* after click title logo */
}
@media screen and (max-width: 768px) {
  .title_wave_pc {
    display: none;
  }
}

/* main */
.main {
  display: block;
  width: 100%;
  max-width: 100%;
}
#main .inner {
  display: block;
  width: calc(100% - 230px);
  margin-left: 230px;
}
#main h1, h2{
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  color: #555555;
}
#main h1 {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 60px;
}
#main h2 {
  font-size: 24px;
  line-height: 40px;
}
#main p {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 24px;
  line-height: 44px;
  color: #555555;
}
@media screen and (max-width: 768px) {
  #main .inner {
    width: 100%;
    margin: 0;
  }
  #main h1 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  #main h2 {
    font-size: 18px;
    line-height: 18px;
  }
  #main p {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #555555;
  }
}

/* top */
#top {
  display: block;
  width: 100%;
  height: 100vh;
}
.top_slider {
  width: 100%;
  height: auto;
}
.top_slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  #top {
    height: 585px;
  }
  top_slider img {
    width: 100%;
    height: 585px;
    object-fit: cover;
  }
}

/* about */
#about {
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background-image : url(../img/bg/about_bg.jpeg);
  background-size: cover;
  position: relative;
}
#about .inner {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  backdrop-filter: blur(1px) ;
  -webkit-backdrop-filter: blur(1px);
  margin: 0;
}
#about::before {
  content: '';
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255,255,255,0.4);
}
#about h1, #about p {
  width: calc(100% - 120px);
  margin-left: 120px;
}
@media screen and (max-width: 768px) {
  #about {
    height: auto;
    min-height: 0;
  }
  #about .inner {
    height: auto;
    padding: 90px 30px;
    margin: 0;
  }
  #about::before {
    height: 486px;
    position: absolute;
  }
  #about h1, #about p {
    width: calc(100% - 60px);
    margin-left: 0;
  }
  #about h1 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 544px) {
  #about::before {
    height: 534px;
  }
}

/* menu */
#menu {
  width: 100%;
  height: auto;
  background: #FFFFFF;
}
#menu .inner {
  width: calc(100% - 120px);
  margin: 0;
  padding: 80px 60px;
}
#menu .content_title {
  text-align: right;
}
#menu .container {
  margin: 60px auto;
}
#menu .container h2 {
  margin-top: 30px;
}
#menu .container p {
  font-size: 18px;
  line-height: 24px;
}
#menu .container .menu_img {
  width: 200px;
  height: 200px;
  margin-right: 30px;
  float: left;
}
#menu .container div {
  height: 200px;
}
#menu .container div#menu_strawberry {
  background: url(../img/bg/menu_bg_strawberry.png);
  background-size: cover;
  background-position: center;
}
#menu .container div#menu_orange {
  background: url(../img/bg/menu_bg_orange.png);
  background-size: cover;
  background-position: center;
}
#menu .container div#menu_chocolate {
  background: url(../img/bg/menu_bg_chocolate.png);
  background-size: cover;
  background-position: center;
}
#menu .container div#menu_berry_and_cheese {
  background: url(../img/bg/menu_bg_berryandcheese.png);
  background-size: cover;
  background-position: center;
}
#menu .container div:nth-of-type(2n) {
  text-align: right;
}
#menu .container div:nth-of-type(2n) .menu_img {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}
#menu a#all_menu {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #555555;
  border-bottom: 2px solid #555555;
}
@media screen and (max-width: 768px) {
  #menu .inner {
    padding: 90px 60px;
  }
  #menu .container {
    margin: 60px auto 20px;
  }
  #menu .container h2 {
    margin-top: 14px;
    margin-bottom: 10px;
  }
  #menu .container p {
    font-size: 12px;
    line-height: 18px;
  }
  #menu .container div {
    height: 130px;
  }
  #menu .container .menu_img {
    width: 130px;
    height: 130px;
    margin-right: 20px;
  }
  #menu a#all_menu {
    font-size: 18px;
    line-height: 24px;
    border-bottom: 1px solid #555555;
  }
}

/* shop */
#shop {
  width: 100%;
  height: calc(100vh - 60px);
  min-height: 800px;
  background: #FFFFFF;
}
#shop .inner {
  width: calc(100% - 120px);
  margin: 0;
  padding: 80px 60px 0;
}
#shop .container {
  display: block;
  width: 100%;
  height: auto;
  margin: 54px auto 108px;
}
.shop_content {
  display: inline-block;
  width: 100%;
  height: auto;
}
.shop_content h3 {
  width: calc(50% - 60px);
  margin-right: 60px;
  margin-bottom: 60px;
  float: right;
  font-family: 'ヒラギノ角ゴ Pro W6', 'Hiragino Kaku Gothic Pro', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 40px;
  line-height: 60px;
  color: #555555;
  border-bottom: 2px solid #777777;
}
.shop_content dl {
  width: 50%;
  float: right;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #555555;
}
.shop_content dt {
  float: left;
  padding-left: 10px;
}
.shop_content dd {
  padding-left: 100px;
  margin-bottom: 20px;
}
.shop_content img {
  width: 50%;
  height: 390px;
  object-fit: cover;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  float: left;
}
#shop1_img {
  mask-image: url(../img/items/shop/svg/shop_1.svg);
  -webkit-mask-image: url(../img/items/shop/svg/shop_1.svg);
}
#shop2_img {
  mask-image: url(../img/items/shop/svg/shop_2.svg);
  -webkit-mask-image: url(../img/items/shop/svg/shop_2.svg);
}
/* shop flickity custom */
#shop .flickity-button {
  background: transparent;
}
#shop .flickity-prev-next-button {
  width: 84px;
  height: 128px;
}
#shop .flickity-button-icon {
  fill: #777777;
}
#shop .flickity-button:disabled {
  display: none;
}
@media screen and (max-width: 768px) {
  #shop {
    height: auto;
    min-height: 0;
  }
  #shop .inner {
    width: calc(100% - 120px);
    margin: 0;
    padding: 90px 60px;
  }
  #shop .container {
    display: block;
    width: 100%;
    height: auto;
    margin: 30px auto 0;
  }
  .shop_content {
    width: 500px;
    height: auto;
  }
  #shop_1 {
    margin-right: calc(100% - 500px);
  }
  .shop_content h3 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
  }
  .shop_content dl {
    width: 50%;
    font-size: 12px;
    line-height: 18px;
  }
  .shop_content dt {
    padding-left: 0;
  }
  .shop_content dd {
    padding-left: 55px;
    margin-bottom: 10px;
  }
  .shop_content img {
    height: 250px;
  }
  /* shop flickity custom */
  #shop .flickity-prev-next-button {
    width: 84px;
    height: 128px;
  }
}

/* footer */
#footer {
  display: block;
  width: 100%;
  height: 60px;
  background: #E583AC;
}
#footer .inner {
  display: block;
  width: calc(100% - 230px);
  height: 60px;
  margin-left: 230px;
  position: relative;
}
#footer h1 {
  display: block;
  width: 100%;
  height: 44px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 24px;
  line-height: 44px;
  color: #FFFFFF;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #footer {
    height: 40px;
  }
  #footer .inner {
    width: 100%;
    height: 40px;
    margin: 0;
  }
  #footer h1 {
    height: 18px;
  
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 12px;
    line-height: 18px;
  }

}